body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #FBCA1F;
  display: flex;
  flex-direction: column;

}

.header {

  width: 100%;
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: #181717 ;
  background: #181717;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);

}

.gauge{
  background-color: #181717;
  width: 10px;
  height: 10px;
}

.content{
  width: 100%;
  height: 85vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

.content_left {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.content_center {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.content_right {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.submit {
  margin-top: 100px;
  width: 80px;
  height: 50px;
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}
  
.submit:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
  
.submit:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.icon {
  width: 100px;
  height: 50px;
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.icon:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}
      
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid black;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: solid black;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: solid black;
}
     
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
      
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: solid black;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
      
.form-control input:focus+label span,
.form-control input:valid+label span {
  color: solid black;
  transform: translateY(-30px);
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
 
.container {
  height: 400px;
  width: 400px;
  background-color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 20px 20px 40px black(60, 60, 150, 0.25);
  display: grid;
  place-items: center;
}
.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #FBCA1F;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: black;
}
